// Variables
$blue: #2e91ec;
$light-blue: #51d5ff;
$dark-blue: #192647;
$text-blue: #034785;
$green: #009c30;
$dark-green: #007a26;
$black: #091b41;
$gray: #494949;

.gray-bg {
    background: #f5f5f5;
}

.white {
    color: white;
}
.black {
    color: $black;
}
.blue {
    color: $text-blue;
}
.gray {
    color: $gray;
}
