// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";


// // Pages
@import './home/home';
/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
}

.gradient {
  background:
    linear-gradient(180deg, rgba(8, 53, 148, 0.66) 0%, rgba(9, 27, 65, 0.9) 98.96%),
    url(<path-to-image>),
    lightgray 50% / cover no-repeat;
}

.black-grandient {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url(<path-to-image>),
    lightgray 0% 0% / 50px 50px repeat;
}
